<script>
  import Header from 'carbon-components-svelte/src/UIShell/Header.svelte'
  import HeaderUtilities from 'carbon-components-svelte/src/UIShell/HeaderUtilities.svelte'
  import HeaderNav from 'carbon-components-svelte/src/UIShell/HeaderNav.svelte'
  import SideNav from 'carbon-components-svelte/src/UIShell/SideNav.svelte'
  import SideNavItems from 'carbon-components-svelte/src/UIShell/SideNavItems.svelte'
  import SkipToContent from 'carbon-components-svelte/src/UIShell/SkipToContent.svelte'
  import Theme from 'carbon-components-svelte/src/Theme/Theme.svelte'
  import Content from 'carbon-components-svelte/src/UIShell/Content.svelte'
  import Grid from 'carbon-components-svelte/src/Grid/Grid.svelte'
  import ToastNotification from 'carbon-components-svelte/src/Notification/ToastNotification.svelte'
  import { onMount, tick } from 'svelte'
  import { fly } from 'svelte/transition'
  import { flip } from 'svelte/animate'

  export let global
  // Exports the slot contents so that a parent App can integrate their contents
  export let export_slots_to = undefined
  // Imports slots that are exported from an inline frame. Caution: Initailize a global store with an empty object.
  export let import_slots_from = undefined
  // Set your company name. 
  // This will be added to the header. It will also be added to the title if not excplicit set.
  export let company_name = undefined
  // The name of the app
  export let app_name = "<The app's name>" && $global.name
  // Adds a title to the upper left corner and to the browser tab.
  export let title = "<company name> <app name>" && (company_name ? `${company_name} ${app_name}` : app_name)
  // Obtain a reference to the HTML anchor element.
  export let href = undefined
  // If true the sidenav will grow on mouseover.
  export let sidenav_rail = false
  // Set to true to open the side nav.
  export let sidenav_is_open = false
  // Set to true to persist the hamburger menu.
  export let persistent_hamburger_menu = false
  // Select a grid mode
  export let grid_mode = ["wide", "condensed", "narrow", "full width", "borderless"] && "wide"
  // Adds a gap between the grid components
  export let grid_gutter = ["default", "none", "left-only", "right-only"] && "default"
  // Adds a gap inside a grd component
  export let grid_padding = false
  // Set current theme. 
  // Dynamic theming is only possible if global key "carbon-theme" is "all" or "dynamic"!
  // If you only want one theme, use the global key as the file size will be smaller.
  export let currentTheme = ["$global['carbon-theme']", "white", "g10", "g80", "g90", "g100"] && "$global['carbon-theme']"
  // Set a Toast Notification in the upper right corner.
  // Best practice: Bind to a store and everytime the store is changed, a new notification will be shown.
  // [Offical page](https://carbon-components-svelte.onrender.com/components/ToastNotification)
  export let notification = {}

  // Slots can be exported from one frame and imported from another using a common (global) store.
  // Export slots
  const slotTargets = {}
  const importedElements = []
  // We need to distinguish between mounted state and unmounted state (SSR) to ensure that also SSR gets rendered correctly.
  let mounted = false
  onMount(() => {
    mounted = true
  })
  function exportSlot (component, slotName) {
    if (export_slots_to && export_slots_to._import) {
      // Export the slot contents
      export_slots_to[slotName] = component.children
      export_slots_to._import(slotName)
      return {
        destroy() {
          export_slots_to._destroy(component)
        }
      }
    } else {
      slotTargets[slotName] = component.parentElement
      // Move slot contents outside the hidden div
      Array.from(component.children).forEach((element) => {
        component.parentElement.appendChild(element)
      })
    }
	}
  // Import slots from inline frame
  async function importSlot(slotName) {
    import_slots_from = import_slots_from
    await tick()
    if (!slotName.startsWith('_')) {
      const elements = Array.from(import_slots_from[slotName])
      elements.forEach((element) => {
        if (slotName === 'header actions') {
          slotTargets[slotName]?.insertBefore(element, slotTargets[slotName].children[0])
        } else {
          slotTargets[slotName]?.appendChild(element)
        }
        importedElements.push(element)
      }) 
    }
  }
  if (import_slots_from) {
    import_slots_from._import = importSlot
    import_slots_from._destroy = async (parent) => {
      // Re-transfer content to soon-to-be-destroyed parent
      importedElements.forEach((element) => {
        parent.appendChild(element)
      })
    }
  }
 
  if (currentTheme === "$global['carbon-theme']") {
    if ($global['carbon-theme'] === 'all' || $global['carbon-theme'] === 'dynamic' || !$global['carbon-theme']) {
      currentTheme = 'g90'  
    } else {
      currentTheme = $global['carbon-theme']
    }
  }

  let sidebarHasElements = true
  let notificationId = 0
  let notificationList = []
  const addNotification = (n) => {
    if (typeof n === 'object' && (n?.title || n?.subtitle || n?.caption)) {
      const newNotification = {
        id: notificationId++,
        kind: n.kind || "error",
        title: n.title || "",
        subtitle: n.subtitle || "",
        caption: n.caption || new Date().toLocaleDateString() + ', ' + new Date().toLocaleTimeString(),
        lowContrast: n.lowContrast || false,
        timeout: n.timeout || 0,
        role: n.role || "alert",
        closeButtonDescription: n.closeButtonDescription || "Close notification",
        hideCloseButton: n.hideCloseButton || false,
        fullWidth: n.fullWidth || false
      }
      notificationList.push(newNotification)
      notificationList = notificationList

      if (typeof document === 'object') {
        setNotificationBoxSize()
      }
    }
  }

  // keep toastNotificationBox size dynamic and prevent changing size too early due to transition
  const setNotificationBoxSize = async () => {
    await tick()
    if (document) {
      let height = 0
      let width = 0
      const tNB = document.getElementById("toastNotificationsBox")
      if (notificationList.length) {
        const notifications = tNB.querySelectorAll('.bx--toast-notification');
        // no forEach loop with html Elements, not better readable with [...notifications].forEach()
        for (let index = 0; index < notifications.length; index++) { 
          const n=notifications[index]; 
          const style=getComputedStyle(n) 
          height +=n.offsetHeight + parseFloat(style.marginTop) + parseFloat(style.marginBottom) // only need the width of the widest notification 
          const thisWidth=n.offsetWidth + parseFloat(style.marginLeft) + parseFloat(style.marginRight) 
          if (width < thisWidth) { 
            width = thisWidth
          }
        }
      }
      tNB.style.height=height + 'px' 
      tNB.style.width=width + 'px' 
    }
  }
  
  // svelte recommend reactive vars at the bottom of the script
  $: condensed = grid_mode === 'condensed'
  $: narrow = grid_mode === 'narrow'
  $: fullWidth = grid_mode === 'full width'
  $: borderless = grid_mode === 'borderless'
  
  $: noGutter = grid_gutter === 'none'
  $: noGutterLeft = grid_gutter === 'right-only'
  $: noGutterRight = grid_gutter === 'left-only'

  $: addNotification(notification)

  onMount(() => {
    if (window?.localStorage?.theme) {
      currentTheme = window.localStorage.theme
    }
    if (borderless) {
      document.getElementById('main-content').classList.add('borderless')
    }

    const sidebar = document.querySelector("nav.bx--side-nav__navigation")
    if (sidebar) {
      const sidebarItemList = document.querySelector('.bx--side-nav__items')
      // Check sidebar has really elements (e.g. Condition Component is not fullfilled -> empty sidebar)
      // can be removed when firefox allows :has officially
      const checkSidebarHasElements = () => {
        if (sidebarItemList) {
          sidebarHasElements = !!sidebarItemList.querySelector('li')
        }
      }
      // Check on mount as observer won't work yet
      checkSidebarHasElements()
      const sidebarObserver = new MutationObserver(() => {
        checkSidebarHasElements()
      })
      sidebarObserver.observe(sidebarItemList, { attributes: true, childList: true, subtree: true })

      // add mouseeover /-out on sidebar
      
      const enterSidebar = () => {
        sidebar.classList.remove("avtryck-sidebarClosed")
      }
      const leaveSidebar = () => {
        if (sidebar.classList.contains("bx--side-nav--rail")) {
          sidebar.classList.add("avtryck-sidebarClosed")
        }
      }
      sidebar.addEventListener("mouseenter", enterSidebar, false);
      sidebar.addEventListener("mouseleave", leaveSidebar, false);

      // check sidebarOpen on start
      if (!sidenav_is_open) {
        sidebar.classList.add("avtryck-sidebarClosed")
      }
    }
  })
</script>

<!-- svelte-ignore missing-declaration -->
<style lang="postcss">
  :global(.borderless > #main-content) {
    @apply p-0;
  }
  :global(.borderless > #main-content > .bx--grid) {
    @apply m-0 p-0 max-w-full;
  }
  :global(.borderless > #main-content > .bx--grid > .bx--row) {
    @apply m-0;
  }
  :global(.borderless > #main-content .bx--grid .bx--row) {
    @apply p-0;
  }
  /** :has is not working in Firefox (for now) */
  :global(.avtryck-hideSidebar .bx--side-nav, nav.bx--side-nav__navigation:not(:has(ul li))) {
    display: none;
  }
  :global(.avtryck-hideSidebar .bx--side-nav~.bx--content) {
    @apply ml-0;
  }
  #toastNotificationsBox {
    @apply fixed top-12 right-0 overflow-hidden;
    max-height: calc(100% - 3rem);
    z-index: 9999;
  }
  /** margin top 1rem is default, but will be removed somehow on flying out*/
  :global(#toastNotificationsBox .bx--toast-notification) {
    @apply mr-0 mt-0;
  }
  /** header select menu width */
  :global(.bx--header__menu-bar .bx--header__menu-title[aria-expanded=true]+.bx--header__menu) {
    width: auto;
  }
  /** adding padding for button set */
  :global(.avtryck-btn-set-padding.bx--btn-set:not(.bx--btn-set--stacked) button:not(:last-of-type)) {
    margin-right: 1rem;
  }
  :global(.avtryck-btn-set-padding.bx--btn-set.bx--btn-set--stacked button:not(:last-of-type)) {
    margin-bottom: 1rem;
  }
  /** add pointer cursor to navigation header items */
  :global(a.bx--header__menu-item) {
    cursor: pointer;
  }
  /** if a component is disabled, this class marks it as disabled (e.g. <a> has no disabled) */
  :global(.avtryck-disabled) {
    pointer-events: none;
  }
  /* disabled header navigation */
  :global(.bx--header .avtryck-disabled) {
    color: var(--cds-disabled-03);
    background: var(--cds-disabled-02);
  }
  :global(button.avtryck-disabled svg) {
    fill: currentColor;
  }
  /* disabled sidebar components */
  :global(.avtryck-disabled.bx--side-nav__link :is(.bx--side-nav__link-text, .bx--side-nav__extended-link), .avtryck-disabled .bx--side-nav__icon>svg) {
    color: var(--cds-disabled-03);
    font-weight: 600;
  }
  /* change cursor by parent element as pointer-events may disable that */
  :global(li:has(>.avtryck-disabled)) {
    cursor: not-allowed;
  }
  /* global button icon spinning code (instead of always adding them via script)*/
  @keyframes -global-a-ui-submitting-spinner {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
  :global(button.bx--btn.spinning svg) {
      animation: a-ui-submitting-spinner 1500ms linear infinite;
  }
</style>


<svelte:head>
  <title>{title}</title>
</svelte:head>

<Theme bind:theme={currentTheme} persist={true} />
<!-- avtryck specific borderless class: add before any carbon-design component to prevent destroy carbon-design css (which uses parent/child/sibling classes) -->
<div class:borderless class:avtryck-hideSidebar={!sidebarHasElements} hidden={export_slots_to && export_slots_to._import}>
  <Header company={company_name || '' } platformName={app_name} persistentHamburgerMenu={$$slots['side navigation'] &&
    persistent_hamburger_menu} bind:isSideNavOpen={sidenav_is_open} {href} on:click>
    <svelte:fragment slot="skip-to-content">
      <SkipToContent />
    </svelte:fragment>

    <!-- Header Nav -->
    {#if $$slots['header navigation'] || import_slots_from?.['header navigation']}
    <HeaderNav>
      {#if (export_slots_to || import_slots_from?.['header navigation']) && mounted}
        <div hidden use:exportSlot={'header navigation'}>
          <slot name='header navigation'></slot>
        </div>
      {:else}
        <slot name='header navigation'></slot>
      {/if}
    </HeaderNav>
    {/if}

    {#if $$slots['header actions'] || import_slots_from?.['header actions']}
    <HeaderUtilities>
      <!-- Header actions -->
      {#if (export_slots_to || import_slots_from?.['header actions']) && mounted}
        <div hidden use:exportSlot={'header actions'}>
          <slot name='header actions'></slot>
        </div>
      {:else}
        <slot name='header actions'></slot>
      {/if}
    </HeaderUtilities>
    {/if}
  </Header>

  {#if $$slots['side navigation'] || import_slots_from?.['side navigation']}
    <!-- Side Navigation  -->
    <SideNav bind:isOpen={sidenav_is_open} rail={sidenav_rail}>
      <SideNavItems>
        {#if (export_slots_to || import_slots_from?.['side navigation']) && mounted}
          <div hidden use:exportSlot={'side navigation'}>
            <slot name='side navigation'></slot>
          </div>
        {:else}
          <slot name='side navigation'></slot>
        {/if}
      </SideNavItems>
    </SideNav>
  {/if}

  <!-- Main Content -->
  <Content>
    <Grid {condensed} {narrow} {fullWidth} {noGutter} {noGutterLeft} {noGutterRight} bind:padding={grid_padding}>
      {#if (export_slots_to || import_slots_from?.default) && mounted}
        <div hidden use:exportSlot={'default'}>
          <slot></slot>
        </div>
      {:else}
        <slot></slot>
      {/if}
    </Grid>
  </Content>
</div>

<!-- Keep outside the UI Shell Box to prevent styling problems -->
<div id="toastNotificationsBox">
  <!-- Set notification from object or default value "{{key: todo.id}}"-->
  {#each notificationList as n, i (n.id)}
  <div transition:fly="{{ key: n.id, x: 200, duration: 500 }}" animate:flip="{{ delay: 500, duration: 200}}">
    <ToastNotification {...n}
      on:click={(e) => {
        e.preventDefault()
        e.stopPropagation()
      }}
      on:close={(e)=> {
        e.preventDefault()
        notificationList.splice(i, 1)
        notificationList = notificationList
        setTimeout(setNotificationBoxSize, 750)
        }}
      />
  </div>
  {/each}
</div>