<script>
  import { onMount } from 'svelte'

  // Exports the slot contents so that a parent App can integrate their contents
  export let export_slots_to = undefined

  let mounted = false
  onMount(() => {
    mounted = true
  })
  function exportSlot (component, slotName) {
    if (export_slots_to && export_slots_to._import) {
      // Export the slot contents
      export_slots_to[slotName] = component.children
      export_slots_to._import(slotName)
      return {
        destroy() {
          export_slots_to._destroy(component)
        }
      }
    } else {
      slotTargets[slotName] = component.parentElement
      // Move slot contents outside the hidden div
      Array.from(component.children).forEach((element) => {
        component.parentElement.appendChild(element)
      })
    }
	}
</script>

{#if export_slots_to && mounted}
  <div hidden use:exportSlot={'default'}>
    <slot ></slot>
  </div>
{:else}
  <slot></slot>
{/if}