<script>
  import SideNavMenuItem from 'carbon-components-svelte/src/UIShell/SideNavMenuItem.svelte'
  import RadioButton from 'carbon-icons-svelte/lib/RadioButton.svelte'
  import RadioButtonChecked from 'carbon-icons-svelte/lib/RadioButtonChecked.svelte'
  import Checkbox from 'carbon-icons-svelte/lib/Checkbox.svelte'
  import CheckboxChecked from 'carbon-icons-svelte/lib/CheckboxChecked.svelte'

  /**
   * Whether this menu entry shall be rendered as checkbox or radio button.
   * @type {"checkbox" || "radio"}
   * @default "checkbox"
   */
   export let type = "checkbox"

  /**
   * Set to `true` to select the item
   * @default false
   */
   export let isSelected = false

  /**
   * Specify the `href` attribute
   * @default undefined
   */
  export let href = undefined

  /**
   * Specify the item text
   * @default undefined
   */
  export let text

  // Disable this component
  export let disabled = [false, true] && false

  const icons = (type === 'checkbox') ? [Checkbox, CheckboxChecked] : [RadioButton, RadioButtonChecked]

  $:_href = disabled ? '' : (href || '#')
  $:icon = isSelected ? icons[1] : icons[0]
</script>

<style>
  :global(.bx--side-nav__link-text:has(> .bx--side-nav__extended-link)) {
    width: 100%;
  }
  .bx--side-nav__extended-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
</style>

<SideNavMenuItem {_href} class={disabled ? 'avtryck-disabled' : ''} on:click>
  <span class='bx--side-nav__extended-link'>
    {text}
    <svelte:component this={icon}/>
  </span>
</SideNavMenuItem>
