<!-- 
  Selectable sidebar menu entry.
  
  Based on [SideNavEntry](https://carbon-components-svelte.onrender.com/components/UIShell), but the icon can also be on the right side 

  [Icon List](https://carbon-icons-svelte.onrender.com)
--> 

<script>
  /** Set to `true` to select the current link */
  export let isSelected = false;

  /**
   * Specify the `href` attribute
   * @type {string}
   */
  export let href = undefined;

  /**
   * Specify the text
   * @type {string}
   */
  export let text = undefined;

  /**
   * Specify the icon to render
   * @type {typeof import("svelte").SvelteComponent}
   */
  export let icon = undefined;

  /**
   * Disable the Menu Entry
  */
  export let disabled = [false, true] && false

  export let iconAlignment = ['left', 'right'] && 'right'

  /** Obtain a reference to the HTML anchor element */
  // export let ref = null;

  // component is in a <a> element, which needs a href to show the pointer cursor ( => '#')
  $:_href = disabled ? '' : href || '#'
  
</script>

<style>
  .avtryck-fullWidthText {
    width: 100%;
  }
  .avtryck-icon-left {
    flex-direction: row-reverse;
    cursor: pointer;
  }
  :global(.bx--side-nav:not(.avtryck-sidebarClosed) .avtryck-icon-left .bx--side-nav__link-text) {
    margin-left: 1.5rem;
  }
  .bx--side-nav__icon.bx--side-nav__icon--small.avtryck-side-nav_icon-right {
    margin-right: 0;
  }
</style>

<li class="bx--side-nav__item">
  <a aria-current="{isSelected ? 'page' : undefined}" 
    href="{_href}" 
    rel="{$$restProps.target === '_blank' ? 'noopener noreferrer' : undefined}"
    class:bx--side-nav__link={true}
    class:avtryck-icon-left={iconAlignment === "left"}
    class:avtryck-icon-right={iconAlignment === "right"}
    class:bx--side-nav__link--current="{isSelected}"
    {...$$restProps}
    on:click
  >
    <span class="bx--side-nav__link-text avtryck-fullWidthText">
      {text}
    </span>
    {#if icon}
      <div class="bx--side-nav__icon bx--side-nav__icon--small avtryck-side-nav_icon-right">
        <svelte:component this="{icon}" />
      </div>
    {/if}
  </a>
</li>
