<!-- 
  Expandable sidebar menu with entries.
  
  Based on [SideNavMenu](https://carbon-components-svelte.onrender.com/components/UIShell), but with transition and closing if sidemenu rail is closing.
--> 
<script>
  /** Set to `true` to toggle the expanded state */
  export let expanded = false;

  /**
   * Specify the text
   * @type {string}
   */
  export let text = undefined;

  /**
   * Specify the icon to render
   * @type {typeof import("svelte").SvelteComponent}
   */
  export let icon = undefined;

  /**
   * Disable the Menu
  */
  export let disabled = [false, true] && false

  /** Obtain a reference to the HTML button element */
  // export let ref = null;

  import ChevronDown from 'carbon-icons-svelte/lib/ChevronDown.svelte'
  import { onMount, tick} from 'svelte'

  let id = Date.now()

  // height must have a fix value (not auto) to get a fluid transition effect (max-height does not look the same)
  const setMenuHeight = async (menuIsToggling = false) => {
    await tick()
    const menuDOM = document.getElementById('avtryck-menu-' + id)
    let menuHeight = 0
    menuDOM.childNodes.forEach(n => menuHeight = menuHeight + (n.offsetHeight || 0))
    if (!menuDOM.style.height && expanded) {
      menuDOM.style.height = menuHeight + 'px'
      // svelte tick is to short to be recognized for transition
      await new Promise(resolve => setTimeout(resolve, 10))
    }
    if (menuIsToggling) {
      expanded = !expanded
    }
    if (expanded) {
      menuDOM.style.height = menuHeight + 'px'
    } else {
      menuDOM.style.height = ''
    }
  }

  const toggleMenu = () => {
    setMenuHeight(true)
  }

  onMount(() => {
    // observe changing menu height (adding/removing entries)
    const menuEntriesObserver = new MutationObserver(() => {
      if (document.getElementById('avtryck-menu-' + id)) {
        setMenuHeight(false)
      }
    })
    menuEntriesObserver.observe(document.getElementById('avtryck-menu-' + id), { childList: true })
  })
  
  $: {
    if (disabled && expanded) setMenuHeight(true)
  }
</script>

<style>
  /** transition stuff */
  button.bx--side-nav__submenu[aria-expanded="true"]~ul.bx--side-nav__menu {
    height: auto;
    opacity: 1;
  }
  /** important fixes rare error where height will be set by js in style to early? */
  button.bx--side-nav__submenu[aria-expanded="false"]~ul.bx--side-nav__menu {
    height: 0px !important; 
  }
  :global(.bx--side-nav--rail.avtryck-sidebarClosed .bx--side-nav__menu) {
    height: 0px !important;
  }
  ul.bx--side-nav__menu {
    transition: all 0.5s ease;
    opacity: 0;
    max-height: initial;
    visibility: visible;
  }

  /** show sidebar menu as active if child is selected */
  :global(.bx--side-nav--rail.avtryck-sidebarClosed .avtryck-side-nav_menu:has(.bx--side-nav__link--current)) {
    background-color: #e0e0e0;
    height: 2rem;
    transition: 0.5s ease background-color;
  }
  /** needed for transition */
  :global(.avtryck-side-nav_menu:has(.bx--side-nav__link--current)::before) {
    background-color: transparent;
    content: "";
  }
  :global(.bx--side-nav--rail.avtryck-sidebarClosed .avtryck-side-nav_menu:has(.bx--side-nav__link--current)::before) {
    position: absolute;
    left: 0;
    width: 4px;
    background-color: #0f62fe;
    content: "";
    height: 2rem;
    transition: all 0.5s linear;
    transition-delay: .2s;
  }
  :global(nav.bx--side-nav--rail.avtryck-sidebarClosed .avtryck-side-nav_menu :is(
    a.bx--side-nav__link--current, a.bx--side-nav__link--current::before,
    a.bx--side-nav__link[aria-current=page], a.bx--side-nav__link[aria-current=page]::before,
    .avtryck-side-nav_icon-right
  )) {
    visibility: hidden;
  }

  button:disabled {
    color: darkgrey;
    pointer-events: none;
  }
</style>

<li class="bx--side-nav__item avtryck-side-nav_menu" class:bx--side-nav__item--icon="{icon}" class:disabled>
  <button type="button" aria-expanded="{expanded}" class="bx--side-nav__submenu" {...$$restProps} {disabled}
    on:click on:click={toggleMenu}
  >
    {#if $$slots.icon || icon}
      <div class="bx--side-nav__icon">
        <slot name="icon">
          <svelte:component this="{icon}" />
        </slot>
      </div>
    {/if}
    <span class="bx--side-nav__submenu-title">{text}</span>
    <div class="bx--side-nav__icon bx--side-nav__icon--small bx--side-nav__submenu-chevron">
      <ChevronDown />
    </div>
  </button>
  <ul role="menu" id={"avtryck-menu-" + id} class="bx--side-nav__menu" on:click={() => setMenuHeight()} on:keypress={() => setMenuHeight()}>
    <slot />
  </ul>
</li>
